* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
}

body {
  background-color: #ffebcd;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  height: 100vh;
  width: 100vw;
}

#card {
  height: 600px;
  width: 400px;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  padding-bottom: 30px;
}

#card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: center 20%;
  border-radius: 20px;
}

#card h1 {
  font-size: 36px;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-style: normal;
}

#card h4 {
  font-weight: 400;
  font-size: 20px;
  color: #daab2e;
  margin: 5px;
  margin-bottom: 10px;
}

#card button {
  font-family: Oswald, sans-serif;
  background-color: #361404;
  padding: 7px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

/* 2nd section */

#container {
  height: 100%;
  width: 100%;
  background-color: #864c36;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all ease 0.4s;
}

#container > h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

#container img {
  height: 600px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

#container i {
  font-size: 50px;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.6;
  transition: all ease 0.4s;
}

/* 3rd section */

#main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cursor {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  transition: all ease 0.2s;
  transform: translate(-50%, -50%);
}

#main > h1 {
  font-size: 10vw;
}

/* 4th */

#head {
  height: 100%;
  width: 100%;
  background-color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.elem {
  width: 100%;
  height: 160px;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 20px;
}

.elem h1 {
  font-size: 5vw;
  color: #ffffff;
}

.elem > img {
  height: 120px;
  width: 120px;
  margin-left: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.2s;
  transform: translate(-90%, -10%);
}
.elem > img:hover {
  height: 200px;
  width: 200px;
  margin-left: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.3s;
  transform: translate(-50%, -10%);
}
/* 
.elem > .col {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;  
}

.elem .col img{
    height: 70px;
    width: 70px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.elem .col img:hover{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all ease 0.2s;
}
.elem .col video{
    height: 70px;
    width: 70px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.elem .col video:hover {
    height: 300px;
    width: 100%;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 0px;
    transition: all ease 0.2s;
} */

/* 5th section */

.card1 {
  height: 600px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#storiyan {
  height: 100px;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 10px 20px;
  padding-top: 15px;
  border-bottom: 2px solid #dadada;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#storiyan::-webkit-scrollbar {
  display: none;
}

.story {
  margin: 2px;
  height: 65px;
  width: 65px;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

#fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

#last-section {
  background: linear-gradient(135deg, #ff9800 0%, #ff5e62 100%);
}
#last-section > h1 {
  color: #fff;
  font-size: 5vw;
}
